.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.select-button {
  padding: 10px;
  background-color: #a8df8e;
  color: black;
  cursor: pointer;
  width: 200px;
}
